body{
    background-color: teal;
}
h1{
    text-align: center;
    text-decoration: underline;
    margin: 20px 0px 40px;
}

table {
    width: 50%;
    border-collapse: collapse;
    margin: 20px auto;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color:  skyblue;
}